.headerContainer {
    background-image: url("../images/blackBackground1.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 200px 0px;
}

.mainBorderBottom {
    width: 100%;
    margin: 0px;
    height: 50px;
    background-color: black;
    border-top: solid 2px rgb(31, 30, 30);

}
.mainBorderTop {
    width: 100%;
    margin: 0px;
    height: 50px;
    background-color: black;
    border-bottom: solid 2px rgb(31, 30, 30);
}

.nameHeader {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    font-size: 60px;
}

.titleHeader {
    color: rgb(168, 167, 167);
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.headerWrp{
    
}