.headerContainer {
    background-image: url("../images/blackBackground1.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 200px 0px;
}

.mainBorderBottom {
    width: 100%;
    margin: 0px;
    height: 50px;
    background-color: black;
    border-top: solid 2px rgb(31, 30, 30);
    border-bottom: solid white 7px;

}
.mainBorderTop {
    width: 100%;
    height: auto;
    background-color: black;
    border-bottom: solid 5px #2b1635;

}

.nameHeader {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    font-size: 60px;
}

.titleHeader {
    color: rgb(168, 167, 167);
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.headerWrp{
    background: rgba(21, 20, 24, 0.5)
}

body {
    background-color: grey;
}

.titleCon {
    width: 90%;
    background-color: black; 
    box-shadow: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20;
    height: auto;
    margin: 30px auto 0px auto; 
    padding: 20px 15px;
    border-bottom: solid 12px #522963;
}

.container1 {
    width: 85%;
    margin: 0px auto 50px auto;
    height: auto; 
    background-color: white;
    border: solid 2px rgb(83, 83, 83);
    padding: 20px;
    overflow: auto;
}

.profilePic {
    border: solid 2px grey;
    width: auto;
}

.imgDiv {
    margin-right: 20px;
    width: auto;

}

.imgDiv2 {
    width: 100%; 
    height: auto;
}

.tapered {
    border-radius: 20px;
}

.collegeTitle {
    font-family: Georgia,'Droid Serif',serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 8px;
    min-height: 34px;
    clear: left;
    display: block;
    text-shadow: 1px 1px #b6b6b5;
    text-decoration: underline solid rgb(22, 22, 58);
    
}

.certTitle {
    font-family: Georgia,'Droid Serif',serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
    min-height: 34px;
    clear: left;
    display: block;
    /* text-shadow: 1px 1px #b6b6b5;
    text-decoration: underline solid rgb(22, 22, 58); */
    
}

.sectionHeader{
    width: 100%;
    margin: 0px 20px 30px 20px;
    background-color: lightgrey; 
    padding: 10px 15px;
}

.sectionHeaderAbt {
    background-color: lightgrey; 
    padding: 10px 15px;
    display: inline-block;
    margin: 0px 10px 20px 0px;
    
}

.sectionTabh5{
    text-align: center;
}

.sectionTab{
    width: 20%; /*should change this to a fixed width for more dynamic*/
    float: left;
    margin: 10px 20px;
}

.sectionTab2{
    width: 28%; /*should change this to a fixed width for more dynamic*/
    float: left;
    margin: 10px 20px;
}


/*-----------------------------Dropdown menue CSS Beginning----------------------------------*/

.dropbtn {
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 16px;
    font-size: 16px;
    border-right: solid 1px rgb(58, 57, 57);
    cursor: pointer;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #522963;
  }

/*-----------------------------Dropdown menue CSS End----------------------------------*/

